<!-- Evaluación de propiedades de clases con {{propiedad}} -->
<!-- <h1>Hello Angular from {{ciudad}}, I can evaluate the sum of 2 + 2 = {{2+2}}</h1> -->

<!-- Ambos etiquetados funcionan -->
<!-- <app-user></app-user> -->
<!-- <app-user/> -->

<!-- <router-outlet></router-outlet> -->

<div>
  <h1>Acerca de Angular</h1>
  <article>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos similique odit ducimus nesciunt quod maiores dolores fugiat suscipit id expedita minus unde vero culpa architecto nulla consequatur quibusdam quis eos, nisi nemo, distinctio consectetur. Quis vel voluptate, ab quo voluptas sed quae, dolore, perferendis nulla deserunt inventore repellendus explicabo temporibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eius omnis rem id a suscipit perferendis, delectus consequatur alias neque voluptatibus repellendus iste sunt nesciunt ducimus soluta voluptas! Minus ab minima sed distinctio provident quod iste qui cum sunt incidunt fugiat reprehenderit rerum, repellat unde. Cupiditate alias quasi omnis nisi?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eius omnis rem id a suscipit perferendis, delectus consequatur alias neque voluptatibus repellendus iste sunt nesciunt ducimus soluta voluptas! Minus ab minima sed distinctio provident quod iste qui cum sunt incidunt fugiat reprehenderit rerum, repellat unde. Cupiditate alias quasi omnis nisi?
    </p>
  </article>

  <!--* @defer se utiliza para mejorar el rendimiento ya que realiza una carga diferida cuando no haya peticiones en ejecución -->
  <!-- @defer puede recibir parámetros de configuración para ejecutarse por ejemplo cuando llega al viewport -->
  @defer(on viewport){
    <app-comments/> <!-- El componente se carga cuando no haya carga de trabajo en ejecución -->
  } @placeholder {
    <p>Futuros comentarios</p> <!-- El placeholder ocupa el lugar donde debería ir el componente que se está cargando diferidamente, debe llevar un elemento para que no dé un salto repentino -->
  } @loading () {
    <p>Cargando comentarios...</p> <!-- Este componente se muestra mientras se está cargando el recurso en el navegador, puede recibir como parámetro el tiempo mínimo de carga que debe demorar -->
  }
</div>
